html, body {
  height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
}

h2, h6 {
  font-family: 'Raleway', sans-serif;
}

.summary-content > * {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.summary-content > b {
  font-weight: bold;
}

#name {
  font-family: 'Raleway', serif;
  text-align: center;
}

#description {
  font-family: 'Raleway', serif;
  text-align: center;
}

#profile {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 600px;
}

#landing {
  height: 90vh;
  padding-top: 10vh;

  background-image: url('../assets/img/desk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
}

#about-list {
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact {
  padding-bottom: 50px;
}

.mdl-button > i {
  padding-right: 5px;
}

#summary {
  padding-bottom: 100px;
}

#summary > div {
  vertical-align: middle;
}

#portfolio {
  padding-bottom: 100px;
}

#resume-fab {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 900;
}

.mdl-color--light-teal {
  background-color: #85bdb7;
}

.mdl-color-text--light-teal {
  color: #85bdb7;
}

.contact-button {
  text-decoration: none;
}

.contact-button:hover {
  cursor: pointer;
}

#terminal-window {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#terminal-bar {
  background-color: #DAD7D9;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#terminal {
  font-family: "Inconsolata", Courier, monospace;
  font-size: 18px;
  background-color: #373737;
  padding: 25px 25px 25px 25px;
  min-height: 50vh;
  width: auto;
}

#terminal > b {
  color: white;
  font-size: 16px;
}

#terminal > p, #terminal > br {
  font-size: 16px;
}

.experience-img, .involvement-img {
  display: inline-block;
  float: right;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

.experience-title, .involvement-title {
  display: inline-block;
  width: 100%;
}

.experience-duration > *, .involvement-duration > * {
  display: block;
  float: right;
}

.mdl-logo > img {
  width: 35px;
  height: 35px;
}

.mdl-card {
  width: 100%;
}

.mdl-card__title {
  height: 256px;
}

#johngamboa > div.mdl-card__title {
  background: url('../assets/img/johngamboa.png') center / contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #85bdb7;
}

#fitkit > div.mdl-card__title {
  background: url('../assets/img/fitkit.png') center / cover;
}

#studybuddy > div.mdl-card__title {
  background: url('../assets/img/studybuddy.png') center / cover;
}

#ucsdcki > div.mdl-card__title {
  background: url('../assets/img/ucsdcki.png') center / cover;
}

@media screen and (max-width: 1024px) {
  #name {
    padding-top: 50px;
    font-size: 10vw;
  }

  #description {
    font-size: 3.5vw;
  }

  #landing {
    height: 85vh;
    padding-top: 15vh;
    background-attachment: fixed;
  }

  #profile {
    float: none;
    margin: 0 auto;
    width: 250px;
    height: 500px;
    padding-left: 0;
  }

  .experience-duration {
    float: right;
  }
}
