html, body {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

#description {
  font-family: 'Roboto Slab', serif;
}

#landing {
  height: 90vh;
  padding-top: 10vh;

  background-image: url('../assets/img/clouds.png'), url('../assets/img/mountains.png');
  background-repeat: no-repeat;
  background-attachment: fixed, fixed;
  background-position: center bottom, center bottom;
  background-size: cover, cover;
}

#about {
  padding-top: 120px;
  padding-bottom: 180px;
}

@media screen and (max-width: 1024px) {
  #name {
    padding-top: 50px;
    font-size: 10vw;
  }

  #description {
    font-size: 3.5vw;
  }

  #landing {
    background-size: contain;
  }
}

#name {
  font-family: 'Roboto Slab', serif;
}

#portfolio {
  padding-bottom: 180px;
}

#contact {
  padding-bottom: 50px;
}

.mdl-button > i {
  padding-right: 5px;
}

#summary {
  padding-bottom: 256px;
}

#resume-fab {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 900;
}

.mdl-color--light-teal {
  background-color: #85bdb7;
}

.mdl-color-text--light-teal {
  color: #85bdb7;
}
