html, body {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

#name, #description {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

#profile {
  display: block;
  margin: 0 0;
  width: 300px;
  height: 600px;
}

#landing {
  height: 90vh;
  padding-top: 10vh;

  background-image: url('../assets/img/clouds.png'), url('../assets/img/mountains.png');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: cover, cover;
  background-position: top, top;
}

#about {
  padding-top: 120px;
  padding-bottom: 180px;
}

#portfolio, #experience {
  padding-bottom: 180px;
}

#contact {
  padding-bottom: 50px;
}

.mdl-button > i {
  padding-right: 5px;
}

#summary {
  padding-bottom: 128px;
}

#summary > div {
  vertical-align: middle;
}

#resume-fab {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 900;
}

.mdl-color--light-teal {
  background-color: #85bdb7;
}

.mdl-color-text--light-teal {
  color: #85bdb7;
}

.contact-button {
  text-decoration: none;
}

.contact-button:hover {
  cursor: pointer;
}

#terminal-window {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#terminal-bar {
  background-color: #DAD7D9;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#terminal {
  font-family: "Inconsolata", Courier, monospace;
  font-size: 18px;
  background-color: #373737;
  padding: 25px 25px 25px 25px;
  min-height: 50vh;
  width: auto;
}

#terminal > b {
  color: white;
}

#terminal > p {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  #name {
    padding-top: 50px;
    font-size: 10vw;
  }

  #description {
    font-size: 3.5vw;
  }

  #landing {
    height: 75vh;
    padding-top: 25vh;
  }

  #profile {
    float: none;
    margin: 0 auto;
    width: 250px;
    height: 500px;
    padding-left: 0;
  }
}
